<h1><%= @doctor.name %>'s Show Page</h1>
<ul>
  <li><%= @doctor.name %>
  <li><%= @doctor.specialty %>
  <li><%= @doctor.university %>
</ul>
<br>
<%= @doctor_hospital %>

<h4>Patients:</h4>
<ul>
  <% @doctor.patients.each do |patient| %>
<div id="patients-<%=patient.id%>">
    <li><%= patient.name %></li>
    <li><%= link_to "Remove Patient #{patient.id}", doctor_patient_path(@doctor, patient), method: :delete %></li><br>
  </div>
  <% end %>


